<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изменить имя пользователя</title>
</head>
<body style="background-color: #E6E6FA ; margin-left: 90px; margin-top: 45px; font-size: large">
<h1>Изменить имя пользователя</h1>
<br/>
<form th:method="POST" th:action="@{/home/{id}/edit (id=${user.id})}" th:object="${user}">
    <label for="username">Новое имя: </label>
    <input type="text" th:field="*{name}" id="username" maxlength="255" required/>
    <br/>
    <br/>
    <input type="submit" value="Сохранить" style="font-size: medium"/>
</form>
<br/>
<form th:methog="GET" th:action="@{/home}">
    <input type="submit" value="Отменить" style="font-size: medium"/>
</form>
</body>
</html>